/* 
  Colors:
  Yellow: hsl(47, 88%, 63%)
  Gray 500: hsl(0, 0%, 42%)
  Gray 950: hsl(0, 0%, 7%)
  Font Size: 1 rem
  Font Weight: 500, 800
  Font Family: [Figtree](https://fonts.google.com/specimen/Figtree)
*/

main {
  max-width: 75%;
  background-color: hsl(47, 88%, 63%);
  box-shadow: 20px 20px 20px hsl(0, 0%, 42%), -20px 20px 20px hsl(0, 0%, 42%);
  margin: auto;
}

.blog_card {
  background-color: white;
  max-width: 25%;
  margin: auto;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 10px 10px hsl(0, 0%, 7%);
}

header {
  background-color: hsl(47, 88%, 63%);
  width: fit-content;
  padding: 0.25rem;
}

